*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(202, 17, 125);

}

.ripple-effect{
  position: relative;
  padding:15px 35px;
  display: inline-block;
  margin:10px;
  font-size: 20px;
  letter-spacing: 3px;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  background: linear-gradient(90deg,rgb(179, 214, 27),rgb(249,13,202));
  color: white;
  font-weight: bold;
}

.ripple-effect .secondary
{
  background: linear-gradient(90deg,rgb(212,13,202),rgb(0,238,111));
}

.ripple-effect >span{
  position: absolute;
  background-color: rgb(255,255,255,.4);
transform: translate(-50%,-50%);
pointer-events: none;
border-radius: 50%;
animation:rippleEffectAnimation 1s linear infinite;

}

@keyframes rippleEffectAnimation{

  0%{
    height:0;
    width:0;
  }
  100% {
    height:400px;
    width:400px;
  }

}